@charset "gb2312";

/*.copy988ps-wrap2017 {

	background: #000 url("../images/bg_b_1.jpg") repeat-x left top;

	width: 100%;

	overflow: hidden

}*/



.copy988ps-wrap {

	margin: 0;

	padding: 0;

	border: 0;

	font-size: 12px;

	height: 132px;

	color: #888;

	width: auto;

	text-align: center;

}

.copy988ps-wrap * {

	margin: 0;

	padding: 0;

	border: 0;

	font-size: 12px;

	font-family: ����;

	color: #888;

	text-align: left;

}

.copy988ps-wrap a, .copy988ps-wrap a:link, .copy988ps-wrap a:active, .copy988ps-wrap a:visited {

	text-decoration: none;

	color: #888;

}

.copy988ps-wrap a:hover {

	color: #888;

	text-decoration: underline;

}

#copy988ps {

	width: 980px;

	height: 132px;

	margin: 0 auto;

}



.copy988ps-logo {

	float: left;

	width: 400px;

	height: 55px;

	margin: 15px 0 0 30px;

	display: inline;

}



.copy988ps-logo img {

	height:54px;

}



.copy988ps-con {

	float: left;

	text-align: left;

	margin: 0 0 0 0;

	padding: 50px 0 0 27px;

	display: inline;

	width: 422px;

	height: 117px;

}

.copy988ps-con p {

	margin: 0;

	text-align: left;

	line-height: 18px;

	font-family: ����;

	height: 18px;

	overflow: hidden;

}

.copy988ps-con a * {

	cursor: pointer;

}





.copy988ps-wrap2017 {

	margin: 0;

	padding: 0;

	border: 0;

	font-size: 12px;

	height: 132px;

	color: #888;

	width: auto;

	text-align: center;

	margin-top: 50px;

}

.copy988ps-wrap2017 * {

	margin: 0;

	padding: 0;

	border: 0;

	font-size: 12px;

	font-family: ����;

	color: #888;

	text-align: left;

	overflow: hidden

}

.copy988ps-wrap2017 a, .copy988ps-wrap2017 a:link, .copy988ps-wrap2017 a:active,  .copy988ps-wrap2017 a:visited {

	text-decoration: none;

	color: #888;

}

.copy988ps-wrap2017 a:hover {

	color: #888;

	text-decoration: underline;

}

.copy988ps-wrap2017 #copy988ps {

	width: 1400px;

	height: 130px;

	margin: 0 auto;

}

.copy988ps-wrap2017 .copy988ps-logo {

	float: left;

	width: 300px;

	height: 100px;

	margin: 38px 0 0 210px;

	display: inline;

}



.copy988ps-wrap2017 .copy988ps-logo a {

	float: left;

}



.copy988ps-wrap2017 .copy988ps-con {

	float: left;

	text-align: left;

	margin: 10px 0 0 30px;

	padding: 28px 0 0 23px;

	display: inline;

	width: 600px;

	height: 104px;

}

.copy988ps-wrap2017 .copy988ps-con p {

	margin: 0;

	text-align: left;

	line-height: 18px;

	font-family: ����;

	height: 19px;

	overflow: hidden;

}

.copy988ps-wrap2017 .copy988ps-con a * {

	cursor: pointer;

}

.copy988ps-wrap2017 .copy988ps-ct {

	float: left;

	font-family: ����;

	width: 155px;

}



.copy988ps-wrap2017 .copy988ps-priv {

	float: left;

	width: 350px;

	margin: 42px 0 0 0;

	display: inline;

}

.copy988ps-wrap2017 .copy988ps-priv a, .copy988ps-wrap2017 .copy988ps-priv span {

	float: left;

	margin: 0 0 0 4px;

}

.copy988ps-wrap2017 .copy988ps-priv1 {

	width: 45px;

	height: 44px;

	text-indent: -99999px;

}

.copy988ps-wrap2017 .copy988ps-priv2 {

	width: 45px;

	height: 44px;

	text-indent: -99999px;

}

.copy988ps-wrap2017 .copy988ps-priv3 {

	width: 111px;

	height: 45px;

	text-indent: -99999px;

}

.copy988ps-wrap2017 .copy988ps-con p.add1026 {

	height: 24px;

}

.copy988ps-wrap2017 .copy988ps-pr3 {

	padding-right: 3px;

}



.copy988ps-wrap2017 .copy988ps-pr3 a {

	color:#919191;

	padding-left:5px;

	padding-right:5px;

}



