.w-allgames a:hover,.w-bzzxitem a:hover,.w-goplay:hover,.w-jjkfgw:hover,.w-jjkftx:hover,.w-jqyxplay:hover,.w-kftabL:hover,.w-kftabR:hover,.w-nav_a a.cur,.w-nav_a a:hover,.w-rmyxg:hover,.w-rmyxplay:hover,.w-wjfcwrap a:hover,a{text-decoration:none}
.w-nametxt,.w-notice li{white-space:nowrap;text-overflow:ellipsis}
.clearfix,.w-allgames,.w-fnav-w ul,.w-fnavbox,.w-infosub,.w-kr,.w-thotgames,.w-wrap{zoom:1}
.w-friends a,.w-nametxt,.w-notice li{white-space:nowrap}
.w-allgames li,.w-block,.w-focus,.w-imglink,.w-indexm,.w-jjkf2,.w-jjkfcons,.w-jpyxitem,.w-jpyxitem li,.w-jqyxplay,.w-navdrop,.w-rmyx,.w-rmyx li,.w-rmyxg,.w-rmyxplay,.w-slideimg,.w-slides,.w-slides li,.w-tjyxwrap,.w-topbar,.w-twrap,.w-twrapbtn,.w-wjfc,.w-wjfcwrap,.w-wjfcwrap a{position:relative}
#backgray,.bgad_l,.bgad_r,.w-allgames h3,.w-focus li,.w-focusbtn,.w-goplay,.w-icoh,.w-icon,.w-imglink:before,.w-jjkftx,.w-jpyxbg,.w-jpyxpngbg,.w-jqyxicoh,.w-jqyxicon,.w-jqyxplay i,.w-leftbtn,.w-log,.w-rightbtn,.w-rmyxbtns,.w-rmyxg em,.w-rmyxplay i,.w-slidebg,.w-slidecon,.w-slideimg .w-paimg,.w-slides ul,.w-thotico,.w-tmypb .w-twrapsub,.w-twrapsub,.w-wjfcwrap span,.w-wjfcwrap ul{position:absolute}
.w-bzzxitem i,.w-dt_tp span,.w-focusbtn i,.w-friends a,.w-kftabL,.w-kftabR,.w-nav_a a,.w-selgames i,.w-twrapbtn{display:inline-block}
.logohidden #lriframe,.w-bzzxitem a,.w-focus a,.w-imglink,.w-jjkfgw,.w-kiphoe,.w-kqq,.w-logo,.w-mpmore,.w-myplay a,.w-navd_cur .w-navdrop,.w-navdrop a,.w-navtxtp,.w-pno_tp span,.w-rmyxbtns p a,.w-rmyxg,.w-rmyxplay,.w-slideimg,.w-thotgames a,.w-twrap-cur .w-twrapsub,.w-wjfc .w-leftbtn,.w-wjfc .w-rightbtn,.w-wjfcwrap a{display:block}
#lriframe,.w-leftbtn,.w-rightbtn,.w-twrapsub{display:none}
.w-allgames img,.w-kftabL,.w-kftabR,.w-selgames i{vertical-align:middle}
.w-logo{line-height:800px}
.w-allgames:after,.w-fnav-w ul:after,.w-fnavbox:after,.w-infosub:after,.w-thotgames:after,.w-wrap:after{content:'\20';display:block;height:0;clear:both}
.gcons,.gcons p,.level_ico,.lv_ico,.w-allgames a,.w-allgames li,.w-bzzxitem span,.w-fnav-w,.w-fnav-w li,.w-jjkfgw em,.w-jjkfgw span,.w-jjkftit span,.w-jpyxitem li,.w-kfonline,.w-nametxt,.w-nav_a,.w-navdonw,.w-navwrap h1,.w-pais,.w-rmyx li,.w-rmyxplay span,.w-section,.w-slides li,.w-thotgames li,.w-tit h2,.w-tit h3,.w-tit-bzzx span,.w-tl,.w-wjfcwrap li{float:left}
.w-article,.w-checks,.w-favall,.w-infosub a,.w-jqyxplay,.w-kfitemtab,.w-mpqf,.w-myup,.w-navcon,.w-notice,.w-paib,.w-paixu,.w-rmore,.w-selgames,.w-tr,.w-twrap{float:right}
.w-allgames,.w-block,.w-fnavbox,.w-friends p,.w-gtit,.w-indexm,.w-navwrap,.w-topbarm,.w-wjfc,.w-wrap{margin:0 auto}
.gcons,.w-artcons,.w-bzzxitem,.w-bzzxitem a,.w-dt_tp,.w-dt_tp span,.w-fnav-w h5,.w-fnav-w li,.w-focus,.w-imglink,.w-indexm,.w-infosub li,.w-jjkfcons,.w-jjkflist,.w-jjkftit,.w-jjkftit span,.w-jpyxbg,.w-jpyxitem,.w-jpyxitem li,.w-jqyxb,.w-jqyxplay,.w-kflianxi,.w-kfonline,.w-kftabL,.w-kftabR,.w-kiphoe,.w-kqq,.w-logo,.w-mpmore,.w-myplay a,.w-myup,.w-nameinfo,.w-nametxt,.w-nav_a,.w-notice,.w-notice li,.w-pno_tp,.w-pno_tp span,.w-rmyx,.w-rmyxbtns,.w-rmyxbtns p,.w-rmyxbtns p a,.w-rmyxg em,.w-rmyxplay i,.w-selgames,.w-slidebcon,.w-slidebcon h3,.w-slidebcon p,.w-slidecon,.w-slideimg,.w-slides,.w-slides ul,.w-thotgames li,.w-thotico,.w-tit,.w-tit-bzzx,.w-tit-bzzx span,.w-tjyxwrap,.w-twrapbtn,.w-wjfc,.w-wjfcwrap,.w-wjfcwrap a,.w-wjfcwrap span{overflow:hidden}
.w-allgames h3,.w-allhide li.w-lino,.w-bzzxitem span,.w-dt_tp,.w-focusbtn,.w-footer,.w-goplay,.w-jjkfgw span,.w-jjkftx,.w-kfonline,.w-kftabL,.w-kftabR,.w-mpmore,.w-rmyxplay span,.w-wjfcwrap span{text-align:center}
.w-kfonline,.w-kftabL,.w-kftabR{font-weight:700}
.w-allgames h3,.w-fnav-w h5,.w-friends strong,.w-tit h2,.w-tit h3{font-weight:400}
.w-focusbtn i,.w-jjkfgw em,.w-jjkfgw img,.w-jjkfgw span,.w-jjkftit,.w-paib,.w-rmyxg em,.w-rmyxplay i,.w-rmyxplay span,.w-selgames i,.w-tit-bzzx span,.w-twrapbtn,.w-wjfcwrap span{cursor:pointer}
.w-fnav-w h5,.w-slidebcon h3{font-size:14px}
.w-kftabL,.w-kftabR,.w-nav_a a,.w-navtxtp,.w-tit h2,.w-tit h3{font-size:16px}
.w-kiphoe,.w-kqq{font-size:20px}
.w-allgames a:hover,.w-bzzxitem a:hover,.w-bzzxitem i,.w-favall a,.w-goplay,.w-goplay:hover,.w-jjkftx,.w-jjkftx:hover,.w-jqyxplay,.w-jqyxplay:hover,.w-nav_a a.cur,.w-nav_a a:hover,.w-rmyxplay,.w-rmyxplay:hover,.w-selgames i.cur,.w-tl a,.w-twrapbtn,.w-wjfcwrap a,.w-wjfcwrap a:hover{color:#fff}
.w-allgames h3,.w-dt_tp,.w-jjkfgw:hover,.w-jjkftit,.w-kr p,.w-pno_tp,.w-rmyx li:hover em,.w-tit h2,.w-tit h3{color:#333}
.w-footer,.w-footer a,.w-kfitemtab,.w-kiphoe,.w-kqq,.w-nav_a a,.w-rmyxg{color:#666}
.w-fnav-w a,.w-fnav-w h5,.w-friends,.w-friends a,.w-pais{color:#999}
.w-dt_tp a:hover,.w-fnav-w a:hover,.w-footer a:hover,.w-friends a:hover,.w-infosub li:hover a,.w-kfitemtab i,.w-kfonline,.w-myup,.w-pno_tp a:hover,.w-red,.w-rmore,.w-thotgames a.cur{color:#e74f45}
.w-favall a:hover,.w-tl a:hover,.w-twrap:hover .w-twrapbtn,.w-twrapbtn:hover{color:#fc8108}
.w-allgames,.w-bzzx,.w-bzzxitem a:hover i,.w-dt_tp,.w-focusbtn i,.w-jjkflist,.w-jpyxbg,.w-kftabL,.w-kftabR,.w-pno_tp,.w-rbanans li,.w-rmyx li,.w-rmyxbtns p,.w-slidecon,.w-twrapbox,.w-wjfc{background:#fff}
.w-block,.w-fnavbox,.w-friends p,.w-gtit,.w-indexm,.w-navwrap,.w-topbarm,.w-wrap{width:1200px}
.w-dt_tp span,.w-nav,.w-nav_a a,.w-navdrop a,.w-navtxtp,.w-pno_tp span,.w-thotico,.w-topbar,.w-twrapbtn{background-image:url(../images/w-topbarbg.png)}
.w-fnav-c,.w-fnav-k,.w-fnav-r,.w-fnav-w li,.w-fnav-z,.w-icoh,.w-icon,.w-jqyxplay i,.w-notice,.w-rmore,.w-rmyxplay i{background-image:url(../images/w-fnavbg.png)}
.w-jqyxicoh,.w-jqyxicon,.w-kfonline,.w-kiphoe,.w-kqq,.w-leftbtn,.w-myup,.w-rightbtn,.w-tit-bzzx,.w-tit-jjkf,.w-tit-jpyx,.w-tit-newkf,.w-tit-rmyx,.w-tit-selectyx,.w-tit-tjyx,.w-tit-wjfc{background-image:url(../images/indexpng32.png);background-repeat:no-repeat}
.w-topbar,.w-twrapsub{background-repeat:repeat-x}
.w-twrapsub{background-image:url(../images/w-sbg.png);background-position:center top;right:0;top:30px;width:421px}
.w-twrapbtn,a{-webkit-transition:color .2s linear;-moz-transition:color .2s linear;-ms-transition:color .2s linear;-o-transition:color .2s linear;transition:color .2s linear}
.w-bzzxitem a{-webkit-transition:all 0s linear;-moz-transition:all 0s linear;-ms-transition:all 0s linear;-o-transition:all 0s linear;transition:all 0s linear}
body{overflow-x:hidden}
body,button,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px \5FAE\8F6F\96C5\9ED1,arial,\5b8b\4f53}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,i,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace,arial,\5b8b\4f53}
form{display:inline}
small{font-size:12px}
ol,ul{list-style:none}
a{color:#333}
a:hover{text-decoration:underline;color:#ff5757}
.w-favall,.w-tl{line-height:30px;color:#545C69}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
button,input,select,textarea{font-size:100%;outline:0}
table{border-collapse:collapse;border-spacing:0}
textarea{resize:none}
.clearfix{*zoom:1}
.clearfix:after{content:'\20';display:block;height:0;clear:both}
.w-topbar,.w-topbarm,.w-twrap{height:30px}
.hidden,.w-navdrop,.w-thotico{display:none}
.w-topbar{z-index:4}
.w-thotico,.w-twrapbtn{background-repeat:no-repeat}
.w-tl{margin-left:-10px}
.w-favall a,.w-tl a{margin:0 10px}
.w-twrap-cur .w-twrapbtn{background-position:103% -297px;background-color:#fff;border-left:1px solid #CBCBCB;border-right:1px solid #CBCBCB;text-decoration:none;height:31px}
.w-twrapbtn{z-index:2;line-height:30px;height:30px;border-left:1px solid #434A5A;border-right:1px solid #434A5A;background-position:103% -230px;padding-left:8px;padding-right:19px}
.w-thotico{left:219px;top:0;width:14px;height:8px;background-position:0 -230px}
.w-twrapbox{border-top:1px solid #CBCBCB;border-left:1px solid #CBCBCB}
.w-dt_tp,.w-pno_tp{height:34px;width:200px;padding-top:16px;border-bottom:1px solid #CBCBCB;border-right:1px solid #CBCBCB}
.w-dt_tp span,.w-pno_tp span{height:18px;line-height:18px;margin:0 0 0 13px;padding-left:27px;background-position:-264px -379px}
.w-myplay a:hover,.w-thotgames a:hover{text-decoration:none;background:#F7F7F7}
.w-dt_tp a,.w-pno_tp a{color:#e74f45}
.w-dt_tp{height:44px;padding-top:6px}
.w-mpmore,.w-myplay a,.w-nameinfo,.w-thotgames li{border-right:1px solid #CBCBCB;height:27px;line-height:27px}
.w-dt_tp span{margin:0 0 0 10px}
.w-thotgames li{width:104px;border-bottom:1px solid #CBCBCB}
.w-thotgames a{padding-left:10px}
.w-thotgames i{margin-left:2px;font-family:\5b8b\4f53}
.w-tmypb .w-twrapsub{right:0;width:202px}
.w-tmypb .w-thotico{left:94px}
.w-myplay a{width:170px;padding:0 20px 0 10px;border-bottom:1px solid #e6e6e6}
.w-mpqf{margin-left:5px}
.w-mpmore{border-bottom:1px solid #CBCBCB;background:#f7f7f7}
.level_ico,.lv_ico{overflow:hidden;background-repeat:no-repeat}
.w-nameinfo{border-bottom:1px solid #e6e6e6;padding:0 10px}
.w-nametxt{max-width:87px}
.lv_ico{width:28px;height:11px;margin:8px 8px 0 6px;background-image:url(../images/lvico.png)}
.lv_2{background-position:0 -15px}
.lv_3{background-position:0 -31px}
.lv_4{background-position:0 -47px}
.lv_5{background-position:0 -62px}
.lv_6{background-position:0 -78px}
.lv_7{background-position:0 -95px}
.lv_8{background-position:0 -111px}
.lv_9{background-position:0 -127px}
.lv_10{background-position:0 -143px}
.level_ico{width:22px;height:16px;margin-top:5px;background-image:url(../images/vip_level.png)}
.lv0{background-position:0 -640px}
.lv1{background-position:0 0}
.lv2{background-position:0 -80px}
.lv3{background-position:0 -160px}
.lv4{background-position:0 -240px}
.lv5{background-position:0 -320px}
.lv6{background-position:0 -400px}
.lv7{background-position:0 -480px}
.lv8{background-position:0 -560px}
.lv_g1{background-position:0 -720px}
.lv_g2{background-position:0 -800px}
.lv_g3{background-position:0 -880px}
.lv_g4{background-position:0 -960px}
.lv_g5{background-position:0 -1040px}
.lv_g6{background-position:0 -1120px}
.lv_g7{background-position:0 -1200px}
.lv_g8{background-position:0 -1280px}
.w-infosub{border-bottom:1px solid #CBCBCB;border-right:1px solid #CBCBCB}
.w-infosub li{padding:0 10px;height:25px;line-height:25px}
.w-infosub li:hover{background:#F7F7F7}
.logohidden,.logohidden body{overflow-y:hidden}
#lriframe{position:fixed;_position:absolute;width:490px;height:372px;left:50%;top:50%;margin:-186px 0 0 -245px;_margin-top:0;z-index:999}
.w-logo,.w-nav_a,.w-nav_a a,.w-navcon,.w-navwrap{height:56px}
#backgray{z-index:998;left:0;top:0;background:rgba(0,0,0,.3);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4c000000', EndColorStr='#4c000000')}
:root #backgray{filter:''\9}
.w-nav{background-repeat:repeat-x;background-position:0 -50px;border-bottom:1px solid #CFCFCF}
.w-nav_a a,.w-navwrap h1{background-repeat:no-repeat}
.w-navwrap h1{background-image:url(../images/w-logo.png);background-position:center;width:920px}
.w-nav_a{font-size:0;line-height:0}
.w-nav_a a{padding:0 21px;line-height:56px;background-position:100% -148px}
.w-nav_a a.cur,.w-nav_a a:hover{background:#E74F44}
.w-navdrop a,.w-navtxtp{background-repeat:no-repeat}
.w-navdonw{width:112px;height:57px}
.w-navtxtp{border:1px solid transparent;_border-color:#F4F4F4;border-bottom:0;width:110px;height:56px;text-indent:10px;line-height:56px;color:#4AACEC;cursor:default;background-position:105% -452px}
.w-navdrop{z-index:999999;box-shadow:2px 7px 10px #333}
.w-navdrop a{width:110px;height:47px;line-height:47px;border:1px solid #ccc;text-indent:38px;background-color:#fff}
.w-navdrop a:hover{text-decoration:none;background-color:#F7F7F7}
.w-navdrop a.w-n-pc{background-position:10px -513px;border-bottom:none}
.w-navdrop a.w-n-mb{background-position:10px -564px}
.w-navd_cur .w-navtxtp{border:1px solid #ccc;border-bottom:0;width:110px;background-color:#fff;box-shadow:2px 7px 10px #333;background-position:105% -513px}
.w-navd_cur .w-navdrop{_margin-bottom:-97px}
.w-fnav{background:#333;padding:10px 0}
.w-fnav-c,.w-fnav-k,.w-fnav-r,.w-fnav-w li,.w-fnav-z{background-repeat:no-repeat}
.w-fnav-w{width:158px;padding-left:108px}
.w-fnav-w h5{height:27px;line-height:27px;text-indent:44px}
.w-fnav-w ul{padding-top:5px}
.w-fnav-w li{width:78px;height:28px;line-height:28px;background-position:0 -159px}
.w-fnav-w a{margin-left:9px}
.w-fnav-long{width:218px}
.w-fnav-long li{width:108px}
.w-fnav-z{background-position:20px 6px}
.w-fnav-k{background-position:20px -34px}
.w-fnav-r{background-position:20px -71px}
.w-fnav-c{background-position:20px -113px}
.w-ftwrap{background:#333}
.w-footer{width:1200px;margin:0 auto;padding:16px 0;line-height:1.8;}
.w-block,.w-focusbtn{font-size:0;line-height:0}
.w-footer p{padding-top:10px}
.w-footer a{margin:0 10px}
.w-footer span{margin:0 5px}
html{-webkit-font-smoothing:antialiased;background:url(../images/w-wrapbg.jpg)}
.w-focus,.w-focus a,.w-focus li,.w-focus ul{height:354px}
.w-focus li{width:99.99999%;left:0;top:0;background-repeat:no-repeat;background-position:center top;}
.w-focus a{background-image:url(../images/w-slide_b.png);background-repeat:repeat-x;background-position:center bottom}
.w-focusbtn{left:0;bottom:10px;z-index:2;width:100%}
.w-focusbtn i{width:15px;height:15px;margin:0 5px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.w-focusbtn i.cur{padding:0 11px;background-color:#EA5656;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px}
.w-block{height:0;z-index:3}
.w-log{right:0;top:-325px;width:266px;height:300px;padding:5px 17px 0;background-color:rgba(0,0,0,.8);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#cc000000', EndColorStr='#cc000000')}
:root .w-log{filter:''}
.w-article{width:300px}
.w-tit{height:60px}
.w-tit h2,.w-tit h3{line-height:72px}
.w-jjkflist{border:1px solid #CBCBCB;height:436px}
.w-tit-jjkf{background-position:0 21px;padding-left:35px}
.w-tit-tjyx{background-position:0 -210px;padding-left:44px}
.w-tit-jpyx{background-position:0 -330px;padding-left:44px}
.mtop15{margin-top:-15px}
.w-tit-rmyx{background-position:0 -560px;padding-left:36px}
.w-tit-selectyx{background-position:0 -666px;padding-left:42px}
.w-tit-wjfc{background-position:0 -780px;padding-left:42px}
.w-kfitemtab{margin-top:25px}
.w-kftabL,.w-kftabR{width:26px;height:19px;line-height:19px;color:#E94F43;border:1px solid #D51D1D;margin-left:10px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;font-family:\5b8b\4f53}
.w-jjkf0{width:82px}
.w-jjkf1{width:65px}
.w-kftabL:hover,.w-kftabR:hover{color:#fff;background:#D51D1D}
.w-jjkftit{height:15px;padding:12px 0}
.w-jjkftit span{height:15px;line-height:15px}
.w-jjkf0{padding-left:6px}
.w-jjkf2{width:78px;padding-left:14px}
.w-jjkfcons{height:85px;background:#E6E6E6}
.w-jjkfgw{height:85px;width:298px}
.w-jjkfgw span{width:127px}
.w-jjkfgw img{margin-top:12px}
.w-jjkfgw em{line-height:2;padding-top:20px}
#jjkfcons .w-jjkfgw em{color:#48ABEC}
#newkfcons .w-jjkfgw em{color:#E74F44}
.w-goplay,.w-jjkftx{top:26px;right:16px;width:65px;height:30px;background:#48ABEC;border:1px solid #2E8CC9;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;line-height:30px}
.w-goplay:hover,.w-jjkftx:hover{background:#2E8CC9}
.w-goplay{border-color:#D51D1D;background:#E74F44}
.w-goplay:hover{background:#D51D1D}
.w-icoh,.w-icon,.w-notice,.w-rmore{background-repeat:no-repeat}
.w-tit-newkf{background-position:0 -100px;padding-left:34px}
.w-tit-bzzx{background-position:0 -450px;padding-left:36px;height:60px}
.w-tit-bzzx span{height:28px;line-height:28px;margin:21px 18px 0 0}
.w-notice li,.w-rmore{height:25px;line-height:25px}
.w-tit-bzzx span.cur{border-bottom:2px solid #E64F44}
.w-icoh,.w-icon{width:9px;height:9px;left:0;top:3px}
.w-icon{background-position:0 -230px}
.w-icoh{background-position:0 -273px}
.w-section{width:100%;}
.w-section .w-tit{padding-right:20px}
.w-notice{width:290px;margin-top:28px;height:25px;background-position:0 -333px}
.w-notice li{padding-left:20px}
.w-rmore{background-position:100% -384px;margin-top:26px;padding-right:10px}
.w-jpyxitem{height:860px}
.w-jpyxitem li{width:225px;height:276px}
.w-jpyxitem li:hover .w-imglink:before{-webkit-animation:aniBlink .9s ease-out forwards;-moz-animation:aniBlink .9s ease-out forwards;-o-animation:aniBlink .9s ease-out forwards;-ms-animation:aniBlink .9s ease-out forwards;animation:aniBlink .9s ease-out forwards}
.w-jpyxitem li:hover .w-jpyxpngbg{background:url(../images/w-bg1.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../images/w-bg1.png");_background:0 0}
@-webkit-keyframes aniBlink{0%{left:-201px}
100%{left:432px}}@-moz-keyframes aniBlink{0%{left:-201px}
100%{left:432px}}@-o-keyframes aniBlink{0%{left:-201px}
100%{left:432px}}@-ms-keyframes aniBlink{0%{left:-201px}
100%{left:432px}}@keyframes aniBlink{0%{left:-201px}
100%{left:432px}}.w-jpyxitem li:hover .w-jqyxplay i,.w-slides li:hover .w-jqyxplay i{-webkit-animation:trx .5s infinite ease-in-out;-moz-animation:trx .5s infinite ease-in-out;-o-animation:trx .5s infinite ease-in-out;-ms-animation:trx .5s infinite ease-in-out;animation:trx .5s infinite ease-in-out}
@-webkit-keyframes trx{50%{-webkit-transform:translateX(4px)}
100%{-webkit-transform:translateX(0)}}@-moz-keyframes trx{50%{-moz-transform:translateX(4px)}
100%{-moz-transform:translateX(0)}}@-o-keyframes trx{50%{-ms-transform:translateX(4px)}
100%{-ms-transform:translateX(0)}}@-ms-keyframes trx{50%{-ms-transform:translateX(4px)}
100%{-ms-transform:translateX(0)}}@keyframes trx{50%{transform:translateX(4px)}
100%{transform:translateX(0)}}.w-jpyxbg{left:0;top:0;z-index:2;width:201px;height:256px;border:2px solid #fff}
.w-jpyxpngbg{left:90px;top:8px;width:127px;height:267px;background:url(../images/w-bg2.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../images/w-bg2.png");_background:0 0}
.w-imglink{height:216px}
.w-imglink img,.w-imglink:before{width:201px;height:216px}
.w-imglink:before{content:'';top:0;left:-402px;overflow:hidden;z-index:6;background:-moz-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.4) 50%,rgba(255,255,255,0) 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.4)),color-stop(100%,rgba(255,255,255,0)));background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.4) 50%,rgba(255,255,255,0) 100%);background:-o-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.4) 50%,rgba(255,255,255,0) 100%);-webkit-transform:skewX(-25deg);-moz-transform:skewX(-25deg);-o-transform:skewX(-25deg);-ms-transform:skewX(-25deg);transform:skewX(-25deg)}
.w-jqyxicoh,.w-jqyxicon{width:43px;height:43px;left:0;top:0}
.w-jqyxicoh{background-position:0 -880px}
.w-jqyxicon{background-position:0 -946px}
.w-jqyxb{height:28px;margin-top:7px;line-height:28px;padding:0 5px}
.w-jqyxplay{width:56px;height:26px;line-height:26px;background:#E74E48;border:1px solid #D51D1D;padding-left:26px;margin-left:3px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.w-jqyxplay i{left:8px;top:8px;width:11px;height:11px;background-repeat:no-repeat;background-position:0 -426px}
.w-jqyxplay:hover{background:#D51D1D}
.w-slides,.w-tjyxwrap{height:500px;width:1200px;z-index: 9}
.w-slides ul{left:0;top:0;overflow:hidden;width:1200px}
.w-slides li{width:400px;height:355px}
.w-slides li:hover .w-slidebg{background:url(../images/w-bg4.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../images/w-bg4.png");_background:0 0}
.w-slides li:hover .w-paimg{bottom:0}
.w-slidecon{width:376px;height:332px;border:2px solid #fff;left:0;top:0;z-index:2}
.w-slideimg{left:0px}
.w-slideimg,.w-slideimg img{width:372px;height:277px}
.w-slideimg .w-paimg{-webkit-transition:all .25s ease-in-out 0s;-moz-transition:all .25s ease-in-out 0s;-o-transition:all .25s ease-in-out 0s;-ms-transition:all .25s ease-in-out 0s;transition:all .25s ease-in-out 0s;left:0;height:287px;bottom:-10px}
.w-slidebcon{height:43px;margin-top:7px;padding:0 5px;color:#888}
.w-slidebcon h3,.w-slidebcon p{height:21px;line-height:21px}
.w-slidebcon .w-jqyxplay{width:59px;height:41px;line-height:41px;padding-left:33px}
.w-slidebcon .w-jqyxplay i{left:11px;top:15px}
.w-slidebg{width:258px;height:15px;background:url(../images/w-bg3.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../images/w-bg3.png");_background:0 0;left:50%;margin-left:-129px;top:336px}
.w-leftbtn,.w-rightbtn{width:28px;height:56px;top:118px;z-index:2}
.w-leftbtn{left:2px;background-position:0 -1440px}
.w-leftbtn:hover{background-position:0 -1510px}
.w-rightbtn{right:2px;background-position:-28px -1440px}
.w-rightbtn:hover{background-position:-28px -1510px}
.w-indexm{height:495px;top:-24px}
.w-rmyx{height:435px}
.w-rmyx li{width:205px;height:125px;margin:0 20px 20px 0;_display:inline}
.w-allhide,.w1441 .bgad_l,.w1441 .bgad_r{display:none}
.w-rmyx li:hover .w-rmyxg{background-image:-webkit-linear-gradient(to top right,#ffffea,#ffffd7);background-image:linear-gradient(to top right,#ffffea,#ffffd7);background-color:#FFFFE5}
.w-rmyxg{border:1px solid #ccc}
.w-rmyxg,.w-rmyxg img{width:203px;height:123px}
.w-rmyxg em{left:113px;top:35px;height:19px;width:88px;line-height:19px}
.w-rmyxbtns{left:113px;top:62px;width:82px;height:26px;border:1px solid #D51D1D;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.w-rmyxbtns p{height:51px}
.w-rmyxbtns p a{height:25px;line-height:25px;border-bottom:1px dotted #ccc;text-indent:5px}
.w-rmyxbtns p a:hover{background:#F7F7F7;color:#e74f45;text-decoration:none}
.w-rmyxbtns:hover{height:78px}
.w-rmyxbtns:hover .w-rmyxplay{border-bottom:1px solid #D51D1D}
.w-rmyxplay{background:#E74F42;height:26px}
.w-rmyxplay span{width:63px;line-height:26px;height:26px;border-right:1px solid #D51D1D}
.w-rmyxplay i{width:5px;height:6px;top:11px;right:7px;background-repeat:no-repeat;background-position:0 -456px}
.w-rmyx li:hover i{-webkit-animation:try .5s infinite ease-in-out;-moz-animation:try .5s infinite ease-in-out;-o-animation:try .5s infinite ease-in-out;-ms-animation:try .5s infinite ease-in-out;animation:try .5s infinite ease-in-out}
@-webkit-keyframes try{50%{-webkit-transform:translateY(-2px)}
100%{-webkit-transform:translateY(0)}}@-moz-keyframes try{50%{-moz-transform:translateY(-2px)}
100%{-moz-transform:translateY(0)}}@-o-keyframes try{50%{-ms-transform:translateY(-2px)}
100%{-ms-transform:translateY(0)}}@-ms-keyframes try{50%{-ms-transform:translateY(-2px)}
100%{-ms-transform:translateY(0)}}@keyframes try{80%{transform:translateY(-2px)}
100%{transform:translateY(0)}}.w-artcons{height:415px}
.w-bzzx{height:298px;border:1px solid #ccc}
.w-bzzxitem{padding-top:3px;margin:0 -1px;height:201px}
.w-bzzxitem a{height:32px;line-height:32px;padding-right:16px;margin-top:6px}
.w-bzzxitem a:hover{background-color:#e6e6e6;color:#e74f45}
.w-bzzxitem a:hover i{color:#E74F44}
.w-bzzxitem span{width:50px}
.w-bzzxitem i{background:#999;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;padding:0 5px;margin-top:8px;line-height:1.5}
.w-kflianxi{border-top:1px solid #E6E6E6;height:93px}
.w-kfonline{width:104px;border-right:1px solid #E6E6E6;height:93px;background-position:30px -1106px;line-height:160px}
.w-kfonline:hover{background-position:30px -1630px;background-color:#E75148;color:#fff;text-decoration:none}
.w-kr{overflow:hidden;padding-left:12px}
.w-kr p{margin-top:6px}
.w-kiphoe,.w-kqq{height:25px;line-height:25px;margin-top:8px;padding-left:34px}
.w-kqq{background-position:0 -1300px}
.w-kiphoe{background-position:0 -1373px}
.w-rbanans li{height:93px;border:1px solid #ccc;margin-top:20px}
.w-gtit{margin-top:-44px}
.w-selgames{color:#4c4c4c;height:21px;line-height:19px;padding:28px 69px 0 0}
.w-selgames i{height:19px;padding:0 10px}
.w-selgames i.cur{background:#E74E46;border-radius:2px;margin-right:8px}
.w-paixu,.w-selgames i.cur{-webkit-border-radius:2px;-moz-border-radius:2px}
.w-paixu{border-radius:2px;width:205px;height:28px;background:#fff;margin:23px 20px 0 0}
.w-pais{width:150px;height:18px;line-height:18px;padding:5px 10px;border:none}
.w-paib{background:url(../images/w-otitbg.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../images/w-otitbg.png");_background:0 0;width:26px;height:28px;margin-right:4px;border:none;background-position:2px -87px}
.w-allgames{width:1198px;border-bottom:none 0;margin-bottom:43px}
.w-allgames,.w-wjfc{border:1px solid #ccc}
.w-allgames li{border-bottom:1px solid #ccc;padding-left:148px;width:1050px}
.w-allgames h3{height:17px;line-height:17px;top:50%;margin-top:-8px;left:0;width:148px;_position:static;_float:left;_margin-left:-80px;_margin-top:12px}
.w-allgames a{width:132px;margin:1px 1px 0 0;height:27px;padding:11px 0 0 17px}
.w-allgames a:hover{background:#E74F44}
.w-allgames img{width:16px;height:16px;margin-right:10px}
.w-allhide{margin-top:-44px}
.w-allhide li.w-lino{height:115px;line-height:115px;font-size:20px;padding:0;width:100%}
.gcons{border-left:1px solid #ccc;width:1049px}
.gcons p{margin-top:-1px;width:1060px;background:url(../images/tablebg.jpg) repeat-y}
.w-myup{height:19px;line-height:19px;margin:29px 10px 0 0;background-position:0 -1585px;padding-left:19px}
.w-wjfc{width:1198px;height:214px}
.w-wjfc .w-leftbtn,.w-wjfc .w-rightbtn{top:80px}
.w-wjfc .w-leftbtn{left:-1px}
.w-wjfc .w-rightbtn{right:-1px}
.w-wjfcwrap{width:1120px;margin:14px 0 0 39px;height:186px}
.w-wjfcwrap ul{width:5000px;height:186px}
.w-wjfcwrap li{width:227px}
.w-wjfcwrap a,.w-wjfcwrap img{width:212px;height:186px}
.w-wjfcwrap a:hover span{background-color:rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7f000000', EndColorStr='#7f000000')}
.w-wjfcwrap span{left:0;bottom:0;height:28px;line-height:28px;width:100%;background-color:rgba(0,0,0,.8);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#cc000000', EndColorStr='#cc000000')}
:root .w-wjfcwrap span{filter:''}
.w-friends{margin-top:30px;padding:15px 0;background:#4d4d4d;line-height:1.8}
.w-friends a{margin-right:10px}
.bgad_l,.bgad_r{width:320px;top:459px;left:50%}
.bgad_l{margin-left:-920px}
.bgad_r{margin-left:600px}
.web980 .w-block,.web980 .w-fnavbox,.web980 .w-friends p,.web980 .w-gtit,.web980 .w-indexm,.web980 .w-navwrap,.web980 .w-topbarm,.web980 .w-wrap{width:980px}
.web980 .w-nav_a a{padding:0 16px}
.web980 .w-focus,.web980 .w-focus a,.web980 .w-focus li,.web980 .w-focus ul{height:305px}
.web980 .w-log{top:-305px}
.web980 .w-wrap .w-section{height:1020px}
.web980 .w-wrap .w-jpyxitem{height:550px}
.web980 .w-section{width:680px}
.web980 .w-slides,.web980 .w-tjyxwrap{width:655px}
.web980 .w-slides li{width:339px}
.web980 .w-slidecon{width:312px}
.web980 .w-slidecon img{margin-left:0}
.web980 .w-indexm{height:640px}
.web980 .w-rmyx{height:580px}
.web980 .w-artcons{height:560px}
.web980 .w-bzzx{height:328px}
.web980 .w-bzzxitem{height:231px}
.web980 .w-allgames,.web980 .w-wjfc{width:978px}
.web980 .w-allgames li{padding-left:138px;width:840px}
.web980 .w-allgames strong{width:138px}
.web980 .w-allgames a{width:122px;height:26px;padding:10px 0 0 17px}
.web980 .gcons{width:839px}
.web980 .gcons p{width:845px;background:url(../images/tablebg-s.jpg) repeat-y}
.web980 .w-wjfcwrap{width:890px;margin:14px 0 0 44px}
.web980 .w-fnav-w{width:158px;padding-left:55px}
.web980 .w-fnav-long{width:218px}
.web980 .w-fnav-long li{width:108px}
.web980 .w-footer{width:980px}
.web980 .w-slideimg{left:0}
@media screen and (max-width:1200px){.w-block,.w-fnavbox,.w-friends p,.w-gtit,.w-indexm,.w-navwrap,.w-topbarm,.w-wrap{width:980px}
.w-nav_a a{padding:0 16px}
.w-focus,.w-focus a,.w-focus li,.w-focus ul{height:305px}
.w-log{top:-305px}
.w-wrap .w-section{height:1020px}
.w-wrap .w-jpyxitem{height:550px}
.w-section{width:680px}
.w-slides,.w-tjyxwrap{width:655px}
.w-slides li{width:339px}
.w-slidecon{width:312px}
.w-slidecon img{margin-left:0}
.w-indexm{height:640px}
.w-rmyx{height:580px}
.w-artcons{height:560px}
.w-bzzx{height:328px}
.w-bzzxitem{height:231px}
.w-allgames,.w-wjfc{width:978px}
.w-allgames li{padding-left:138px;width:840px}
.w-allgames strong{width:138px}
.w-allgames a{width:122px;height:26px;padding:10px 0 0 17px}
.gcons{width:839px}
.gcons p{width:845px;background:url(../images/tablebg-s.jpg) repeat-y}
.w-wjfcwrap{width:890px;margin:14px 0 0 44px}
.w-fnav-w{width:158px;padding-left:55px}
.w-fnav-long{width:218px}
.w-fnav-long li{width:108px}
.w-footer{width:980px}
.w-slideimg{left:0}}@media screen and (max-width:1439px){.bgad_l,.bgad_r{display:none}}